@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

html, body {
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  background: #0F3A5D;
  color: white;
  overflow-x: hidden;
}

body {
  position: relative;
}

.border-white { border-color: white !important; }
.border-blue { border-color: #0F3A5D !important; }

.bgcolor-white { background-color: white !important; }
.bgcolor-blue { background-color: #0F3A5D !important; }

.color-white { color: white !important; }
.color-blue { color: #0F3A5D !important; }

.navbar {
  margin-bottom: 0;
  border-bottom: 3px solid white;
}

.navbar-default {
  background-color: #0F3A5D;
  border: none;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover  {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover  {
  text-decoration: underline;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

h1 {
  font-size: 32px;
}

#about h4 {
  padding-bottom: 50px;
}

#about, #work {
  background-color: white;
}

.teaser { 
  padding-bottom: 10px;
}

#about .glyphicon-chevron-down {
  font-size: 20px;
}

#story h2 {
  font-size: 24px;
  padding-top: 60px;
}

.story-year {
  padding-top: 60px;
  padding-bottom: 30px;
  font-size: 18px;
}

.story-year.present {
  font-size: 150%;
}

.story-year, .story-image, .story-description {
  display: block;
}

.story-image {
  max-height: 150px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.story-image.nyan {
  max-width: 100%;
  margin: 0 auto;
}

.story-description {
  max-width: 150px;
  margin: 0 auto;
}

.story-description.present {
  font-size: 150%;
  max-width: 200px;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.timeline-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.timeline-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */

#timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #0F3A5D;
}
@media only screen and (min-width: 1170px) {
  #timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.timeline-block {
  position: relative;
  margin: 2em 0;
}
.timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.timeline-block:first-child {
  margin-top: 0;
}
.timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .timeline-block {
    margin: 4em 0;
  }
  .timeline-block:first-child {
    margin-top: 0;
  }
  .timeline-block:last-child {
    margin-bottom: 0;
  }
}

.timeline-img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #0F3A5D, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.timeline-img {
  background-color: white;
}

@media only screen and (min-width: 1170px) {
  .timeline-img {
    top: 20px;
    width: 20px;
    height: 20px;
    left: 50%;
    margin-left: -10px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: bounce-1 0.6s;
    -moz-animation: bounce-1 0.6s;
    animation: bounce-1 0.6s;
  }
}

@-webkit-keyframes bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.timeline-content {
  position: relative;
  margin-left: 60px;
  background: #0F3A5D;
  border-radius: 0.25em;
  padding: 20px;
  box-shadow: 0 3px 0 #d7e4ed;
}
.timeline-content:after {
  content: "";
  display: table;
  clear: both;
}

.timeline-content h2 {
  margin: 0;
}

.timeline-content p, .timeline-content .date {
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: bold;
}
.timeline-content .date {
  display: inline-block;
}
.timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.timeline-content .date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.timeline-content::before {
  content: '';
  position: absolute;
  top: 25px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #0F3A5D;
}
  .timeline-content h2 {
    font-size: 20px;
  }

.timeline-hidden {
  display: none;
}

.main-technologies {
  text-align: center;
  background: white;
  color: #0F3A5D;
  margin-top: 10px;
}

.pc1 { width: 1%; }
.pc2 { width: 2%; }
.pc3 { width: 3%; }
.pc4 { width: 4%; }
.pc5 { width: 5%; }
.pc6 { width: 6%; }
.pc7 { width: 7%; }
.pc8 { width: 8%; }
.pc9 { width: 9%; }
.pc10 { width: 10%; }
.pc11 { width: 11%; }
.pc12 { width: 12%; }
.pc13 { width: 13%; }
.pc14 { width: 14%; }
.pc15 { width: 15%; }
.pc16 { width: 16%; }
.pc17 { width: 17%; }
.pc18 { width: 18%; }
.pc19 { width: 19%; }
.pc20 { width: 20%; }
.pc21 { width: 21%; }
.pc22 { width: 22%; }
.pc23 { width: 23%; }
.pc24 { width: 24%; }
.pc25 { width: 25%; }
.pc26 { width: 26%; }
.pc27 { width: 27%; }
.pc28 { width: 28%; }
.pc29 { width: 29%; }
.pc30 { width: 30%; }
.pc31 { width: 31%; }
.pc32 { width: 32%; }
.pc33 { width: 33%; }
.pc34 { width: 34%; }
.pc35 { width: 35%; }
.pc36 { width: 36%; }
.pc37 { width: 37%; }
.pc38 { width: 38%; }
.pc39 { width: 39%; }
.pc40 { width: 40%; }
.pc41 { width: 41%; }
.pc42 { width: 42%; }
.pc43 { width: 43%; }
.pc44 { width: 44%; }
.pc45 { width: 45%; }
.pc46 { width: 46%; }
.pc47 { width: 47%; }
.pc48 { width: 48%; }
.pc49 { width: 49%; }
.pc50 { width: 50%; }
.pc51 { width: 51%; }
.pc52 { width: 52%; }
.pc53 { width: 53%; }
.pc54 { width: 54%; }
.pc55 { width: 55%; }
.pc56 { width: 56%; }
.pc57 { width: 57%; }
.pc58 { width: 58%; }
.pc59 { width: 59%; }
.pc60 { width: 60%; }
.pc61 { width: 61%; }
.pc62 { width: 62%; }
.pc63 { width: 63%; }
.pc64 { width: 64%; }
.pc65 { width: 65%; }
.pc66 { width: 66%; }
.pc67 { width: 67%; }
.pc68 { width: 68%; }
.pc69 { width: 69%; }
.pc70 { width: 70%; }
.pc71 { width: 71%; }
.pc72 { width: 72%; }
.pc73 { width: 73%; }
.pc74 { width: 74%; }
.pc75 { width: 75%; }
.pc76 { width: 76%; }
.pc77 { width: 77%; }
.pc78 { width: 78%; }
.pc79 { width: 79%; }
.pc80 { width: 80%; }
.pc81 { width: 81%; }
.pc82 { width: 82%; }
.pc83 { width: 83%; }
.pc84 { width: 84%; }
.pc85 { width: 85%; }
.pc86 { width: 86%; }
.pc87 { width: 87%; }
.pc88 { width: 88%; }
.pc89 { width: 89%; }
.pc90 { width: 90%; }
.pc91 { width: 91%; }
.pc92 { width: 92%; }
.pc93 { width: 93%; }
.pc94 { width: 94%; }
.pc95 { width: 95%; }
.pc96 { width: 96%; }
.pc97 { width: 97%; }
.pc98 { width: 98%; }
.pc99 { width: 99%; }
.pc100 { width: 100%; }

#profile_image, #profile_image.collapsed {
  position: fixed;
  top: 0;
  left: 10%;
  height: 60px;
  border-width: 5px;
  z-index: 2000;
}

header {
  text-align: center;
  height: 50px;
}

#about {
  padding: 40px 0 30px 0;
}

@media only screen and (min-width: 768px) {
  header {
    min-height: 200px;
  }

  #about {
    padding: 120px 0 30px 0;
  }

  .story-wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }

  #profile_image {
    position: relative;
    top: 100px;
    border: 10px solid #0F3A5D;
    border-width: 10px;
    height: 200px;
    left: 0;
    z-index: 1;
  }

  #profile_image.collapsed {
    height: 80px;
  }

  .timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
    color: white;
  }
  .timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .timeline-content .date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .is-hidden .main-technologies {
    width: 0;
  }

  .main-technologies {
    -webkit-transition: width 1s ease-in-out 0.2s;
    -moz-transition: width 1s ease-in-out 0.2s;
    -ms-transition: width 1s ease-in-out 0.2s;
    -o-transition: width 1s ease-in-out 0.2s;
    transition: width 1s ease-in-out 0.2s;
  }

  .timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #0F3A5D;
  }
  .timeline-content .date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
    color: #0F3A5D;
  }
  .timeline-block:nth-child(even) .timeline-content {
    float: right;
  }
  .timeline-block:nth-child(even) .timeline-content::before {
    top: 30px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #0F3A5D;
  }
  .timeline-block:nth-child(even) .timeline-content .date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: bounce-2 0.6s;
    -moz-animation: bounce-2 0.6s;
    animation: bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .timeline-block:nth-child(even) .timeline-content.bounce-in {
    -webkit-animation: bounce-2-inverse 0.6s;
    -moz-animation: bounce-2-inverse 0.6s;
    animation: bounce-2-inverse 0.6s;
  }
}

@-webkit-keyframes bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
